<i class="fas fa-reply" routerLinkActive="active" routerLink="/event-results">
  Back</i
>

<div>
  <!-- <img src="{{ event.images[0].url }}" /> -->
  <!-- <p>Event: {{ event.name }}</p>
  <p>Location: {{ event.location }}</p>
  <p>Venue: {{ event.venueName }}</p>
  <p>Date: {{ event.date }}</p>
  <p>{{ event.description }}</p>
  <p>${{ event.minPrice }} - {{ event.maxPrice }}</p>

  <p>{{ event.type }}</p> -->
  <!-- <a href="{{ event.url }}">Purchase Tickets</a> -->
  <button>Get Directions</button>
  <button routerLinkActive="active" routerLink="/itinerary">
    Add To Itinerary
  </button>
</div>
