button {
  background-color: #58ab9c;
  color: white;
  border-radius: 5px;
  float: center;
  margin-left: 5px;
  margin-bottom: 5px;
  height: 25px;
}

.event_btn {
  position: relative;
  left: 9%;
  bottom: 0;
}

.dinePics {
  display: flex;
  justify-content: center;
}

.eventPics {
  display: flex;
  justify-content: center;
}

.dineInfo {
  position: relative;
}

.visitInfo {
  position: relative;
}

.eventInfo {
  position: relative;
}

img {
  width: 150px;
  height: 100px;
  border: 2px solid gray;
  border-radius: 5px;
}

.purchase {
  background-color: #FFE0A9;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  text-shadow: 1px 2px 2px aquamarine;
}

img {
  height: 175px;
  width: 80%;
}

p {
  margin-left: 10%;
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  main {
    background-color: rgba(255, 255, 255, 0.687);
  }
  button {
    height: 25px;
  }
  .dinePics {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
  img {
    height: 175px;
    width: 250px;
  }
  p {
    margin-left: 36.2%;
  }
  .event_btn {
    position: relative;
    left: 35.5%;
    bottom: 0;
  }
}

@media only screen and (min-width: 1281px) {
  .mainSection {
    height: 100vh;
  }
  main {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
  }
  h2 {
    display: flex;
    justify-content: center;
    width: 95%;
    border-bottom: 2px solid grey;
    padding: 10px;
  }
  .content {
    margin-top: 15px;
  }
  .results {
    height: 100vh;
    width: 33%;
    background-color: rgba(255, 255, 255, 0.687);
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
  }
  img {
    width: 250px;
    height: 100px;
    margin-top: 5px;
  }
  .eventPics {
    margin-left: 10%;
    display: flex;
    justify-content: left;
  }
  .dinePics {
    display: flex;
    justify-content: left;
    margin-left: 10%;
  }
  button {
    height: 30px;
    border-radius: 5px;
  }
  button:hover {
    border: 1px solid #999;
    color: white;
  }
  .purchase {
    background-color: #FFE0A9;
  }
  a {
    text-decoration: none;
    color: black;
  }
}