body {
    display: flex;
}

.nav-styling {
    display: flex;
    flex-direction: row;
    margin: 2px;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

h2 {
    font-family: 'Sofia', cursive;
    color: white;
    flex: 1;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: white;
    padding: 5px;
    margin-right: 20px;
}

a:hover {
    color: black;
}

@media only screen and (min-width: 768px) {}