<head>
  <style>
    @import url("https://fonts.googleapis.com/css?family=Sofia&display=swap");
  </style>
</head>
<div class="nav-styling">
  <a href="#main-menu" class="menu-toggle">
    <i class="fas fa-bars"></i>
  </a>
  <nav>
    <a href="#main-menu-toggle" class="menu-close">
      <i class="fas fa-close"></i>
    </a>
    <h2>Dateful</h2>

    <div>
      <a routerLinkActive="active" routerLink="/search">Home</a>
      <a routerLinkActive="active" routerLink="/itinerary">My Plans</a>
      <a routerLinkActive="active" routerLink="/account">Account</a>
    </div>
  </nav>
  <a href="#main-menu-toggle" class="backdrop" hidden></a>
</div>
<router-outlet></router-outlet>
