<i class="fas fa-reply" routerLinkActive="active" routerLink="/event-results">
  Back</i
>

<main>
  <h2 class="myItinerary">My Plans</h2>
  <div class="itineraryList" *ngFor="let item of itineraryList; index as i">
    <h2 class="date">{{ item.startdatetime }}</h2>
    <div class="itinerary">
      <div>
        <p class="name">{{ item.name }}</p>
        <p>{{ item.vicinity }}</p>
      </div>
      <div>
        <i class="far fa-trash-alt" (click)="deleteItinerary(item.id)"></i>
      </div>
    </div>
  </div>
</main>
