.fa-reply {
    margin-left: 20px;
    margin-top: 10px;
    color: aquamarine;
    font-size: 18px;
    text-shadow: 1px 1px 1px black;
}

.buttonStyles {
    display: flex;
    flex-direction: column;
}

.backButton {
    font-family: "Montserrat", sans-serif;
}

.fa-reply:hover {
    text-shadow: 2px 2px 2px black;
}

.itineraryList {
    margin: 20px;
}

.name {
    margin-top: 10px;
}

.name, p {
    font-size: 16px;
}

.date {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    text-shadow: 2px 2px 1px white;
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
    main {
        background-color: rgba(255, 255, 255, 0.687);
        margin: 20px;
        border-radius: 5px;
        padding: 10px;
    }
    .date {
        text-shadow: 2px 2px 1px aquamarine;
    }
    .name {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1281px) {
    main {
        background-color: rgba(255, 255, 255, 0.687);
    }
}