.searchArea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.keyword {
  border-radius: 5px;
}

button {
  height: 52px;
  border-radius: 5px;
  padding: 0px 10px;
  background-color: aquamarine;
}

input {
  height: 45px;
  padding-left: 10px;
  font-size: 14px;
}

form {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  form {
    flex-direction: row;
  }
  .keyword {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  button {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}