.nav {
  display: flex;
  flex-wrap: wrap;
}

main {
  display: flex;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 0.666);
  color: black;
  font-size: 18px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  border-radius: 15px;
  align-items: center;
}

button {
  height: 25px;
  background-color: #58ab9c;
  border-radius: 5px;
  color: white;
  font-size: 18px;
}

button:hover {
  color: black;
  border: 1px solid #999;
}

img {
  height: 300px;
  width: 275px;
  border: 2px solid gray;
  border-radius: 50%;
  margin: 5px;
}

a {
  color: black;
}

h2 {
  border-bottom: 2px solid gray;
  margin-bottom: 10px;
}

.sean-paul {
  font-size: 12px;
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  img {
    height: 300px;
    width: 275px;
  }
  main {
    font-size: 24px;
    border-radius: 5px;
  }
  button {
    font-size: 20px;
    height: 25px;
  }
  .sean-paul {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1281px) {
  img {
    height: 300px;
    width: 275px;
  }
  main {
    font-size: 24px;
    border-radius: 5px;
  }
  button {
    font-size: 24px;
    height: 30px;
  }
  .sean-paul {
    font-size: 18px;
  }
}